table {
	width: 800px;
}

th, td {
	padding: 7px 10px 10px 10px;
}

th {
	border-bottom: 2px solid #111111;
	border-top: 1px solid #111111;
}

.header {
	padding: 0px 0px 0px 0px;
	height: 100px;
	width: 100%;
}

.nav ul li {
	list-style: none;
	float: left;
}

.nav .menuLink {
	text-decoration: none;
	display: block;
}

.nav .menuLink:hover {
	background-color: gray;
}