@font-face {
		font-family: 'RBNo2';
		src: url('Font/RBNo2Light.otf');
}

table {
	width: 800px;
}

th, td {
	padding: 7px 10px 10px 10px;
}

th {
	border-bottom: 2px solid #111111;
	border-top: 1px solid #111111;
}

.header {
	font-family: 'RBNo2';
	margin: 10px 40px;
	padding: 0px 0px 0px 0px;
	height: 100px;
}

.header .title {
	float: left;
}

.header .nav {
	float: right;
}

.header .nav ul li {
	list-style: none;
	float: left;
	color: black;
	width: 140px;
	text-align: center;
}

.header .nav .menuLink {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 2em;
}

.header .nav .menuLink:hover {
	background-color: gray;
	color: white;
}