body {
	background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}
#app {
	color: white;
}

.navfeature {
	background: rgba(89, 97, 100, 0.8);
}

#googlesheet {
	width: 100%;
	height: 300px;
}

.customcard {
	transition: box-shadow 0.25s;
	padding: 24px;
	margin: 0.5rem 0 1rem 0;
	border-radius: 2px;
	height: 150px;
	background: rgba(0, 0, 0, 0.23);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.brand-logo {
	padding-left: 15px;
}

#nav {
	padding-right: 15px;
}

.navmenu {
	font-size: 1.3em;
}

.contents {
	padding: 10px 20px 10px 20px;
}

/* Footer */
.page-footer {
	background-color: rgba(90, 98, 101, 0.8) !important;
	padding-top: 0px !important;
}

/* Input Field */

.input-field {
	width: 100px;
	height: 45px;
}

#name1 {
	font-size: x-large;
	width: 100px;
}

/* Autocomplete Dropdown */

.dropdown-content li > a,
.dropdown-content li > span {
	background: rgba(66, 80, 91, 0.8);
	color: hsla(206, 16%, 70%, 1) !important;
}

.dropdown-content {
	background: rgb(66, 80, 91);
}
.autocomplete-content li .highlight {
	color: white !important;
}

/* modal css */

@media (max-width: 992px) {
	.modal-container {
		width: 500px;
	}
}

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: table;
	transition: opacity 0.3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 700px;
	margin: 0px auto;
	background-color: rgba(45, 53, 59, 0.8);
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h4 {
	padding: 20px 30px;
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	padding: 0px 30px;
	margin: 20px 0;
}

.modal-footer {
	padding: 0px 30px 20px 30px;
	text-align: right;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.btn {
	background-color: #f16262 !important;
}