#app {
    background-image: linear-gradient(-3deg, #d7d2cc 0%, #304352 96%);
    color: white;
}

.navfeature {
    background: rgba(48, 67, 82, 0.2);
}

#googlesheet {
    width: 100%;
    height: 300px;
}

.customcard {
	transition: box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    height: 120px;
    background: rgba(0, 0, 0, 0.1);
	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.navmenu {
    font-size: 1.3em;
}

.contents {
    padding: 10px 20px 10px 20px;
}